{% extends "base.html" %}

{% block body_class %}template-contactpage{% endblock %}

{% block content %}
    <div class="contact-info">
        <div class="telephone">
            <span class="glyphicon glyphicon-earphone"></span> {{ self.phone_number }}
        </div>
        <div class="email">
            <a class="email" href="mailto:enquiries@agilenetworking.co.uk">
                <span class="glyphicon glyphicon-envelope"></span> {{ self.email_address }}
            </a>
        </div>
    </div>
{% endblock %}
