{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block body_class %}template-contactpage{% endblock %}

{% block hero %}
    {% image self.hero_image fill-1000x256 as hero_image %}
    <img id="hero-image" src="{{ hero_image.url }}" alt="{{ hero_image.title }}">

    <div id="hero-content">
        <h1>{{ self.title }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div id="contact-info">
        <div class="telephone">
            <span class="glyphicon glyphicon-earphone"></span> {{ self.phone_number }}
        </div>
        <div class="email">
            <a class="email" href="mailto:enquiries@agilenetworking.co.uk">
                <span class="glyphicon glyphicon-envelope"></span> {{ self.email_address }}
            </a>
        </div>
    </div>
{% endblock %}
