{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h2>What we do</h2>

    <div class="row">
        <div class="col-sm-4">
            <a href="#">
                <h3>Virtualisation</h3>
                <img src="http://lorempixel.com/256/128/technics/">
                <p>blah blah blah blah blah blah</p>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="#">
                <h3>Small business</h3>
                <img src="http://lorempixel.com/256/128/technics/">
                <p>blah blah blah blah blah blah</p>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="#">
                <h3>Office 365</h3>
                <img src="http://lorempixel.com/256/128/technics/">
                <p>blah blah blah blah blah blah</p>
            </a>
        </div>
    </div>
{% endblock %}
