{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block body_class %}template-productindexpage{% endblock %}


{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-sm-4">
                <a href="{{ product.url }}">
                    <h3>{{ product.title }}</h3>
                    {% if product.main_image %}
                        {% image product.main_image fill-256x128 as main_image %}
                        <img src="{{ main_image.url }}" alt="{{ main_image.title }}">
                    {% endif %}
                    <p>{{ product.intro }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
