{% extends "base.html" %}

{% load static wagtailimages_tags %}

{% block body_class %}template-standardpage{% endblock %}

{% block hero %}
    {% if self.hero_image %}
        {% image self.hero_image fill-1000x256 as hero_image %}
        <img id="hero-image" src="{{ hero_image.url }}" alt="{{ hero_image.title }}">
    {% else %}
        <img id="hero-image" src="{% static 'img/default-hero.jpg' %}">
    {% endif %}

    <div id="hero-content">
        <h1>{{ self.title }}</h1>
        <h2>{{ self.intro }}</h2>
    </div>
{% endblock %}

{% block content %}
{% endblock %}
