{% load compress static wagtailuserbar wagtailimages_tags ans_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap-theme.min.css' %}">

        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/ans.scss' %}">
        {% endcompress %}

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header>
            {% get_homepage as home_page %}

            <a href="{{ home_page.url }}">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="Agile Networking Solutions Ltd">
            </a>

            <nav role="navigation">
                <ul>
                    {% with home_page.get_children.live.in_menu as menu_items %}
                        {% for page in menu_items %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    {% endwith %}
                </ul>
            </nav>

            {% with home_page.get_contact_page as contact_page %}
                {% if contact_page %}
                    <div class="header-contact">
                        <div class="telephone">
                            <span class="glyphicon glyphicon-earphone"></span> {{ contact_page.phone_number }}
                        </div>
                        <div class="email">
                            <a class="email" href="mailto:enquiries@agilenetworking.co.uk">
                                <span class="glyphicon glyphicon-envelope"></span> {{ contact_page.email_address }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </header>

        <main>
            {% if self.main_image %}
                {% image self.main_image fill-1200x300 as main_image %}
                <div class="banner image" style="background: url('{{ main_image.url }}'); background-size: cover;">
                    <h1>{{ self.title }}</h1>
                    <h2>{{ self.intro }}</h2>
                </div>
            {% else %}
                <div class="banner">
                    <h1>{{ self.title }}</h1>
                    <h2>{{ self.intro }}</h2>
                </div>
            {% endif %}

            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer>
            <p>&copy; Agile Networking Solutions Ltd 2015</p>
        </footer>


        <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        {% compress js %}
            <script type="text/javascript" src="{% static 'js/ans.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
